.form-horizontal .radio > span{
    margin-top: -3px !important;
}
.sapxep-item{
    margin-top:5px
}
.a_sapxep{
    border: 1px solid #87cefa;
    border-radius: 3px;
    font-size: 23px;
    line-height: 44px;
    margin-left: 15px;
}
.i_sapxep{
    font-size: 25px !important;
    line-height: 35px !important;
    width: 30px;
    margin-left: 10px;
}